* {
  margin: 0;
  border-radius: 0;
}

body {
  background-color: bisque;
}
h2 {
  margin-block: 24px;
}
h3 {
  margin-block: 20px;
}
p{
  margin-block: 16px;
}
header {
  background-color: #73c;
  color: white;
  height: 64px;
  display: flex;
  * {
    margin: auto;
  }
}

iframe {
  margin:auto;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: 20%
}
.discografia {
  display: flex;
  flex-direction: column;
}
.discos {
  display: flex;
  gap: 1rem;
  
}
.album {
  width: 25%;
}
.portada {
  max-width: 100%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 128px;
  font-size: 30px;
  display: flex;
  p {
    margin: auto;
  }
}

ol {
  margin: 16px;
}